
/* Navigation styles */
.nav-link,
.dropdown-menu {
  color: white;
}

.logo-text {
  align-items: baseline;
  color: white;
  padding: 5px 10px;
  font-size: 2rem;
  font-weight: 900;
  transition: all 80ms;
}

.logo-text:hover {
  border-top: 4px double #00c9ff;
  transition: all 80ms;
}

.logo {
  border-top: none;
}


.navbar a .active:active {
  border-top: 1px solid #00c9ff;
}

.navbar a:hover {
  border-top: 1px solid #00c9ff;
  transition: all 80ms;
}

/* Body styles */

#main {
  padding: 2ch;
  border-radius: 10px;
  border: 5px solid #e8eeed;
  background: linear-gradient(199deg, #313030 0%, #00c9ff 80%);
  color: white;
  float: right;
  transition: all 0.5s;
}

#main:hover {
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

#main p {
  font-size: larger;
  color: inherit;
}


.react {
  transition: all 3s;
}
.react:hover {
  transform: rotate(360deg);
}

.container-fluid {
  padding: 0px 0px;
}